{% load i18n static admin_tabler %}

<ul class="navbar-nav pt-lg-3">
    <li class="nav-item">
        {% if request.user.is_superuser %}
            <a class="nav-link" href="{% url 'admin:index' %}" >
        {% else %}
            <a class="nav-link" href="{% url 'index' %}" >
        {% endif %}
        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
        </span>
        <span class="nav-link-title">
            Trang chủ
        </span>
        </a>
    </li>

    {% admin_get_menu as app_list %}
    {% if app_list %}
      {% for app in app_list %}
        {% if app.has_perms and not app.pinned %}
        <li class="nav-item dropdown {% if 'dashboard' in segment %} active {% endif %}">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#navbar-base" aria-expanded="false" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                    <path d="M15 9h.01"></path>
                 </svg>
            </span>
            <span class="nav-link-title">
                Quản lý
            </span>
          </a>
          {% if request.user.is_superuser %}
          <div class="dropdown-menu show">
            {% if app.models %}
            <div class="dropdown-menu-columns">
              {% for model in app.models %}
              {% if model.url %}
                <div class="dropdown-menu-column">
                    <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
                    href="{{ model.url }}">
                    {{ model.label }}
                    </a>
                </div>
              {% else %}
                <li class="dropdown-menu-column">{{ model.label }}</li>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% else %}
          <div class="dropdown-menu show">
            {% if app.models %}
            <div class="dropdown-menu-columns">
              {% for model in app.models %}
              {% if model.url %}
                {% if model.label == '01. Phông lưu trữ' or model.label == '02. Hồ Sơ' or model.label == '03. Văn Bản'%}
                <div class="dropdown-menu-column">
                  <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
                  href="{{ model.url|remove_url }}">
                  {{ model.label }}
                  </a>
                </div>
                {% else %}
                <div class="dropdown-menu-column">
                    <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
                    href="{{ model.url }}">
                    {{ model.label }}
                    </a>
                </div>
                {% endif %}
              {% else %}
                <li class="dropdown-menu-column">{{ model.label }}</li>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
      <li class="nav-item dropdown {% if 'dashboard' in segment %} active {% endif %}">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#navbar-base" aria-expanded="false" data-bs-auto-close="false" role="button" aria-expanded="false">
          <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
              <path d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793zm1 0V7.5h6.482A7 7 0 0 0 8.5 1.018M14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8"/>
            </svg>
          </span>
          <span class="nav-link-title">
              Thống kê số liệu
          </span>
        </a>

        <div class="dropdown-menu show">
          <div class="dropdown-menu-columns">

              <div class="dropdown-menu-column">
                  <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
                  href="{% url 'thong_ke_van_ban' %}">
                  01. Thống kê văn bản
                  </a>
              </div>
              <div class="dropdown-menu-column">
                <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
                href="{% url 'thong_ke_ho_so_het_han' %}">
                02. Thống kê hồ sơ hết hạn
                </a>
            </div>
            <div class="dropdown-menu-column">
              <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
              href="{% url 'export_bao_cao_thong_ke' %}">
              03. Báo cáo thống kê
              </a>
          </div>
          <div class="dropdown-menu-column">
            <a class="dropdown-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
            href="{% url 'in_va_thong_ke' %}">
            04. In ấn và thống kê
            </a>
        </div>
          </div>
   
        </div>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:password_change' %}" >
            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                    <path d="M16 5l3 3"></path>
                </svg>
            </span>
            <span class="nav-link-title">
                Thay đổi mật khẩu
            </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:logout' %}" >
            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                    <path d="M9 12h12l-3 -3"></path>
                    <path d="M18 15l3 -3"></path>
                 </svg>
            </span>
            <span class="nav-link-title">
                Đăng xuất
            </span>
            </a>
        </li>

    {% endif %}
    
</ul>