{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Báo cáo thống kê{% endblock title %}
{% block body %}layout-fluid{% endblock body %}

{% block content %}
<div class="page-wrapper">
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Báo cáo thống kê
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <a href="{% url 'export_bao_cao_thong_ke' %}" class="btn btn-primary">
                <img alt="Xuất Excel" src="{% static "/icons/file-spreadsheet.svg" %}"/>
                Xuất Excel
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}