{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}ĐĂNG NHẬP - {% endblock title %}

{% block body %}d-flex flex-column{% endblock body %}

{% block content %}

  <div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="{% url 'index' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'images/logo.png' %}" height="36" alt=""></a>
      </div>
      <div class="card card-md">
        <div class="card-body">
          <h2 class="h2 text-center mb-4">ĐĂNG NHẬP TÀI KHOẢN</h2>
          
          <!-- <p class="mb-2 text-center">
            <span>USER: test / Trungtamluutru@123</span>
            <br />
            <span>ADMIN: admin / Trungtamluutru@123</span>                    
          </p>     -->

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <span class="text-danger d-block mb-3">{{ error }}</span>
              {% endfor %}
            {% endif %}

            {% for field in form %}
              {% if not field.name == 'password' %}
              <div class="mb-3">
                <label class="form-label">Tài khoản</label>
                {{ field }}
              </div>
              {% else %}
              <div class="mb-2">
                <label class="form-label">
                  Mật khẩu
     
                </label>
                <div class="input-group input-group-flat">
                  {{ field }}
                  <span class="input-group-text">
                  
                  </span>
                </div>
              </div>
              {% endif %}
            {% endfor %}
            
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
            </div>
          </form>
        </div>

      </div>
      <!-- <div class="text-center text-muted mt-3">
        Don't have account yet? <a href="{% url 'register' %}" tabindex="-1">Sign up</a>
      </div> -->
    </div>
  </div>

{% endblock content %}